<!-- answer is nested in the individual question-detail.hbs
****answer-tile is TO DELETE ANSWER INDIVIDUALY at the index  -->
<br>
<li><span class="glyphicon glyphicon-user"></span> Guru: {{answer.author}} <br>{{answer.reply}} <br>

  <p>
    <img src="{{answer.image}}" alt="image">
  </p>

</li>

<!-- Add delete answer -->
<!-- When we delete the parent in a one-to-many relationship, we will also want to delete all of its child answers as well! -->
<br>
<button {{action 'delete' answer}}>Delete the Answer</button>
<br>

<!--next we will add delete code in answer-tile.js  -->
