<!-- answer is nested in the individual question-detail.hbs
****answer-tile is TO DELETE ANSWER INDIVIDUALY at the index  -->
<li>{{answer.reply}} - <img src="{{answer.image}}" alt="image" />  - by {{answer.author}}</li>

<!-- Add delete answer -->
<!-- When we delete the parent in a one-to-many relationship, we will also want to delete all of its child answers as well! -->

<button {{action 'delete' answer}}>Delete the Answer</button>

<!--next we will add delete code in answer-tile.js  -->
