body {
  background-image: url(https://il7.picdn.net/shutterstock/videos/12215777/thumb/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

h2 {
  text-shadow: 2px 1px white;
}

.jumbotron {
  background-image: url(image/thailandbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

}

.border {
  border-width:5px;
  border-style:outset;
  border-radius: 6px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.contact {
  color: white;
    /*font color won't change*/
  text-shadow: 1px 1px white;
  font-style: italic;
  margin-top: 10px;
}
