body {
  background-image: url(https://t4.ftcdn.net/jpg/00/88/57/85/240_F_88578561_GDDe0BRvkYrYhdmbrknXCrcL7okznxku.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

h2 {
  text-shadow: 2px 1px white;
}

h3 {
  color: black;
}

.jumbotron {
  background-image: url(image/thailandbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

}

.border {
  border-width:5px;
  border-style:outset;
  border-radius: 6px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
}

img {
  width: 25%;
  float: inherit;

}

.guru {
  font-style: italic;
  text-shadow: 1px 1px white;

}
.contact {
  color: white;
    /*font color won't change*/
  text-shadow: 1px 1px white;
  font-style: italic;
  margin-top: 10px;
}
