<h2>About Siam Q&amp;A Message Board</h2>

<h3>This website is created to answer any questions about Siam or now known as Thailand.</h3>

<p>
  We are the community of locals. We are here to help and will try to answer any questions you have about Siam with our BIG SIAM's SMILE.
</p>
<br>
