<!-- The application template is where headers, footers, nav bars and any other content that should be on every page of the application should go.   -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SIAM Q&amp;A Message Board</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="http://localhost:4200/about">ABOUT</a></li>
        <li><a href="http://localhost:4200/contact">CONTACT US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:4200/store">MADE-IN-THAILAND</a></li>
        <li><a href="http://localhost:4200/store/product/:product_id"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      </ul>
      <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       -->
    </div>
  </div>
</nav>
<div class="container">
  <header class="jumbotron">
<br>
<br>
  </header>
  {{outlet}}
  <br>
  <footer class="contact">
      {{#link-to 'contact'}} Need help? click here to Contact Us {{/link-to}}
      {{#link-to 'index'}}  ...Homepage {{/link-to}}
  </footer>
</div>
