<h2> Contact the Siam Q &amp; A Message Board</h2>
<h4>Welcome, we encourages any feedback and questions about our website and anything pertain to this message board</h4>

<h2>Contact us via</h2>

<h4>If you want to write to us:</h4>
<p>
  Siam Q &amp; A <br>
  1 Siam Square,
  Krungthep, Thailand
  10220
</p>

<h4>or Talk to us</h4>
<p>
  +66 02 2001000
</p>

<h4>or Email us</h4>
<p>
  siamQA@siamQA.com
</p>

<br>
{{#link-to 'about'}}About us{{/link}}
<br>
{{#link-to 'index'}} Homepage {{/link}}
