<h1> Welcome to Siam Q &amp; A Message Board</h1>
<hr>
<h2>If you got Questions, We have Answer!</h2>
<h3>We are here to help, we pretty much know all the answers! About Siam
<br>If we don't, we will make sure someone will!
</h3>
<ul>
  {{#each model.questions as |qustion|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<h2>All Answers</h2>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.reply}} -{{answer.image}} - by {{answer.author}} </li>
  {{/each}}  
</ul>
<br>
{{#link-to 'about'}}About us{{/link-to}}
