<div class="border">
  <h1> Welcome to Siam Q &amp; LetzFly Message Board</h1>
</div>
<br>
<h2>If you got Questions, We have the answer!</h2>
<h3>We are here to help.</h3>
<h4>If we don't know the answer, we will make sure someone will! </h4>
<h6>We have rated our questions with <span class="glyphicon glyphicon-heart"></span> for more than 10 answers , <span class="glyphicon glyphicon-star"></span> for more than 5 answers , and <span class="glyphicon glyphicon-star-empty"></span> for more than 3 answers.</h6>

<br>
<div class="border">
  <h2>Questions: </h2>
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}} 
    {{/each}}
  </ul>
  {{new-question saveQuestion2="saveQuestion3"}}
  <!-- save2 is the action up to route handler, save3 is action up to firebase -->
</div>

<br>

<div class="border">
  <h2>Here are the favorite questions: </h2>
{{favorite-questions}}
</div>
<br>
