{{!-- PARENT ROUTE  --}}
<h2>Welcome to Made in Thailand Store: </h2>

{{#each model as |product|}}
  {{#link-to 'store.product' product.id}} {{product.name}}
  {{/link-to}}

{{/each}}

{{!-- Parent route need to add #link-to & also add outlet helper at the bottom This is where the template of the child route will be display NEXT: TO STORE/product.hbs --}}

{{outlet}}
